**
!pyproject.toml
!README.md
!LICENSE
!MANIFEST.in
!SECURITY.md
!after-install.md
!.codexignore
!.hermes-eco.json
!plugin.yaml
!skill.json
!.claude-plugin/
!.claude-plugin/**
!.codex-plugin/
!.codex-plugin/**
!assets/
!assets/**
!dashboard/
!dashboard/**
!hermes_tweet/
!hermes_tweet/**
!fuzz/
!fuzz/**
!tests/
!tests/fixtures/
!tests/fixtures/**
!.clusterfuzzlite/
!.clusterfuzzlite/**
